<main role="main">

  <div class="top_main">
    <div class="text-center">
      <div class="inner cover">
        <h1 class="cover-heading"><span>nomi_tomo</span></h1>
        <p class="lead">It is an application that aims to make drinking friends for people who are lonely to drink alone, such as wanting to go drinking nearby on holidays or wanting drinking friends.</p>
        <p class="lead">
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-lg btn-secondary" %>
          <%= link_to "新規登録", new_user_registration_path, class: "btn btn-lg btn-secondary" %>
        </p>
      </div>
    </div>
  </div>
</main>
<%= render "shared/footer" %>