<%= render "shared/header_show" %>

<div class="wrapper">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="chat">
    <%= render "shared/main_chat" %>
  </div>
</div>