<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">メインページ</h4>
          <p class="text-muted">現在地周辺の居酒屋をMap上で表示させます。アイコンをクリックで店名が表示されますので、店名をクリックする事でお店の詳細ページへ遷移します。</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">メニュー</h4>
          <div class="list-unstyled">
            <%= link_to "マイページ", "/users/#{current_user.id}", class: "text-white" %>
            <p><a href="#" class="text-white">フレンド一覧</a></p>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-white" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <strong>nomi_tomo</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>