<div class="side-bar-header">
  <div class="header-name">
    <%= current_user.nickname %>
  </div>
  <div class="create-room">
    <%= link_to "チャットを作成する", new_shop_room_path %>
  </div>
</div>

<div class="rooms">
  <% @rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <%= link_to room.name, shop_room_messages_path(room.shop_id, room.id) %></a>
      </div>
    </div>
  <% end %>
</div>