.main_map {
  height: 500px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
}

#map{
  height: 450px;
  width: 950px;

}

.card-body{
  height: 250px;
}