.main_map {
  height: 600px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(wood.jpg);
  background-size: cover;
  background-color:rgba(255,255,255,0.8);
}

#map{
  height: 550px;
  width: 85vw;
  border: 2px solid;
  border-radius: 8px;
}

.card-body{
  height: 250px;
}

.map-content{
  width: 170px;
  height: 180px;

  .map-category{
    height: 15px;
    text-align: center;
    font-size: 10px;
    margin-bottom: 0;
  }
  .map-name{
    height: 20px;
    text-align: center;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .map-img{
    margin: 0 10px;
  }
}