.top_main{
  height: 600px;
  width: 100vw;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  background-image: url(tyotin.jpg);
  background-size: cover;
  background-color:rgba(255,255,255,0.8);
}